.ui-button {
  width: 100%;
  padding: 0.75rem 1rem;

  background: linear-gradient(
    180deg,
    #2563eb, /* azul */
    #1e3a8a  /* azul oscuro */
  );

  color: #f8fafc;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);

  transition: all 0.2s ease;
}

